<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>
	MyFirstWebApp</display-name>
	
	  <filter>
    <filter-name>
      FirstFilter
    </filter-name>
    <filter-class>
      MyFirstFilter
    </filter-class>
  </filter>

  <filter>
    <filter-name>
      SecondFilter
    </filter-name>
    <filter-class>
      MySecondFilter
    </filter-class>
  </filter>


  <!-- Map the filter to a Servlet or URL -->

  <filter-mapping>
    <filter-name>FirstFilter</filter-name>
    <url-pattern>/MyServlet</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>SecondFilter</filter-name>
    <url-pattern>/MyServlet</url-pattern>
  </filter-mapping>
	
	
	
	<servlet>
		<description>
		</description>
		<display-name>
		MyServlet</display-name>
		<servlet-name>MyServlet</servlet-name>
		<servlet-class>
		MyServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		RandomNumber</display-name>
		<servlet-name>RandomNumber</servlet-name>
		<servlet-class>
		RandomNumber</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MyServlet</servlet-name>
		<url-pattern>/MyServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RandomNumber</servlet-name>
		<url-pattern>/RandomNumber</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
